{{#each payload}}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h2 class="card-title">Título: {{title}}</h2>
        <p class="card-text">Descripción: {{description}}</p>
        <p class="card-text">Precio: {{price}}</p>
        <button  href="#" class="btn btn-primary seeDetailProduct" data-id="{{_id}}">Ver</buttton>
    </div>
</div>
{{/each}}